<mat-grid-list cols="4">
  <mat-grid-tile *ngFor = 'let note of notesData'>
    <app-notes-widget noteText={{note.text}} noteTitle={{note.title}} (click)="openNotesDialog()"></app-notes-widget>
  </mat-grid-tile>
  <!-- <mat-grid-tile>
    <app-notes-widget></app-notes-widget>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-notes-widget></app-notes-widget>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-notes-widget></app-notes-widget>
  </mat-grid-tile> -->
  <mat-grid-tile>
    <mat-card>
        <button mat-button (click)="openDialog()">+ Add Card</button>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
