<mat-grid-list cols="5" rowHeight="2:1">
  <mat-grid-tile>
    <app-notes-widget></app-notes-widget>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-notes-widget></app-notes-widget>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-notes-widget></app-notes-widget>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-notes-widget></app-notes-widget>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
        <button mat-button (click)="openDialog()">+ Add Card</button>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
